html, body {
  color: black;
  background-color: white;
  font-family: sans-serif;
  font-size: small;
  height:100%;
  margin: 0;
  padding: 0;
  border: 0;
}

a { text-decoration: none; }
a:hover { text-decoration: underline; }

/* # Header # */
.superHeader {
  color: white;
  background-color: #2D2D2D;
  height: 29px;
  border-bottom: 1px solid black;
}

.superHeader img { vertical-align: middle; }

.superHeader a, .superHeader a:visited {
  color: #CCC;
  background-color: transparent;
  font-size: 100%;
  line-height: 31px;
  margin: 0;
  padding: 8px 5px 6px;
  text-decoration: none;
}

.superHeader a:hover {
  text-decoration: none;
  background-color: #5a5a5a;
}

.superHeader a.thisPage{
  color: white!important;
  font-weight:bold;
  border-top: 2px solid #DD4B39;
  padding-top: 5px;
}

.superHeader div {
  position: absolute;
  top: 0;
}

.superHeader .left { left: 0.4em; }
.superHeader .right { right: 0.4em; }

.midHeader {
  background-color: whiteSmoke;
  border: 0;
  border-top: 1px solid #D2D2D2;
  border-bottom: 1px solid #D2D2D2;
  height: 2em;
  padding: 1ex 2ex;
}

.midHeader .left { float: left; }
.midHeader .right { float: right; }

.headerTitle {
  font-size: 150%;
  font-weight: bold;
  margin: 0;
  padding: 0;
}
#headerSubTitle {
  font-size: small;
  font-style: normal;
  font-weight: normal;
  margin-left: 1em;
  color: #666;
}

.headerTitle a { color: black; }
.headerTitle a:hover { text-decoration: none; }

.superHeader .highlight {
  color: rgb(253,160,91);
  background-color: transparent;
}

/* new horiz menu stuff # */

#menu {
  width: 100%;
  clear: both;
  border-bottom: 1px solid #E5E5E5;
  margin: 0 0 0.8em 0;
  padding: 0;
}

#menu ul {
  background-color: whiteSmoke;
  margin: 0;
  padding: 0 0.3em;
  list-style-type: none;
  list-style-image: none;
  border: 0;
}

#menu ul ul {
  position: absolute;
  top: 7.2em;
  background-color: #ffffff;
  border: 0;
}

#menu ul ul ul {
  position: static;
  display: none;
}

#menu li {
  display: inline;
  white-space: nowrap;
  line-height: 1.6em;
}

#menu ul li a {
  margin: 0;
  padding: 0.1em 1ex;
  color: #333;
  background-color: transparent;
  text-decoration: none;
  font-size: 1em;
  border: 0;
}
#menu ul li a:hover {
  color: black;
  text-decoration: none;
  text-transform: none;
}

.thisPage, .thisPage a {
  color: black!important;
  color: #DD4B39!important;
  background-color: transparent;
  padding-left: 0;
  font-weight: bold;
}

/* # Main Copy # */
#main-copy {
  max-width: 100%;
  color: black;
  background-color: transparent;
  text-align: justify;
  line-height: 1.5em;
  margin: 0 auto 0 2em;
  padding: 1em 3em 2em 1em;
  border: 0;
}

#bodyText {
  margin: 0 0 0 15.5em;
  padding: 2mm 5mm 2mm 5mm;
}

#main-copy p {
  margin: 1em 1ex 1em 1ex !important; /* Need !important so troff-generated pages don't look totally squezed */
  padding: 0;
}

#main-copy ul {
  margin-bottom: 1em !important; /* Need !important so troff-generated pages don't look totally squezed */
}

#main-copy a {
  color: #11C;
  background-color: transparent;
}

#main-copy a:hover {
  color: #11C;
}

#main-copy h1, #main-copy h2 {
  color: black;
  background-color: transparent;
  font-size: 135%;
  font-weight: bold;
  margin: 1em 0 0 0;
  padding: 0 0 0.5ex 0;
  border: none;
}

#main-copy h1 a { color: black; }
#main-copy h1 a:hover { color: black; }

#main-copy h2, #main-copy .post h1 {
  font-size: 115.5%;
  border-bottom: 1px solid #E5E5E5;
}

#main-copy article.post {
  margin-bottom: 3em;
}

#main-copy .topOfPage {
  color: rgb(0,102,204);
  background-color: transparent;
  font-size: 91%;
  font-weight: bold;
  text-decoration: none;
  margin: 3ex 1ex 0 0;
  padding: 0;
  float: right;
}

dl {
  margin: 1em 1ex 2em 1ex;
  padding: 0;
}

dt {
  font-weight: bold;
  margin: 0 0 0 0;
  padding: 0;
}

dd {
  margin: 0 0 2em 2em;
  padding: 0;
}

/* # Sticky Footer # */
#wrap {
  min-height: 100%;
}

#main-copy {
  overflow: auto;
  padding-bottom: 1.6em;
}

#footer {
  position: relative;
  margin-top: -1.6em;
  height: 1.6em;
  clear: both;
}

/* # Footer # */
#footer {
  color: #666;
  background-color: transparent;
  padding: 0;
}

#footer .left {
  float: left;
  clear: left;
  margin-left: 0.4em;
  text-align: left;
}

#footer .right {
  float: right;
  margin-right: 0.4em;
  text-align: right;
}

#footer a {
  color: #555;
}

#footer .left a {
  margin: 0 1ex;
  font-style: italic;
}

#footer p {
  margin: 0;
  line-height: 1.6em;
}

/* # Search # */

#search {
  position: absolute;
  top: 5.2ex;
  right: 1ex;
  text-align: right;
}

#search p {
  margin: 0;
}

/* GENERAL */

table {
  border: solid 1px black;
}
th {
  background-color: #abc;
  border: solid 1px black;
   text-align: center;
}
td {
  background-color: #def;
  border: solid 1px black;
}

hr {
  height: 1px;
  background-color: #E5E5E5;
  border: none;
}

acronym, .titleTip {
  border-bottom: 1px solid #ddd;
  cursor: help;
  margin: 0;
  padding: 0 0 0.4px 0;
}

pre {
  margin-left: 2em; 
  font-size: 1.2em;
  background-color: black;
  border-left: 2px solid #4D90FE;
  color: white;
  padding: 1ex 1em;
}

blockquote {
  border-left: 1px solid #EBEBEB;
  font-style: italic;
}

input {
  margin: 0 inherit;
  height:2em;
}

input[type=submit] {
  color:white;
  font-weight: bold;
  background-color: #4D90FE;
  background-image: -webkit-linear-gradient(top,#4D90FE,#4787ED);
  border: 1px solid #3079ED;
  border-radius: 2px;
}

input[type=submit]:hover {
  background-color: #357AE8;
  border: 1px solid #2F5BB7;
  background-image:-webkit-linear-gradient(top,#4d90fe,#357ae8);
}

input[type=submit]:focus {
  -webkit-box-shadow:inset 0 0 0 1px #fff;
  box-shadow:inset 0 0 0 1px #fff;
  outline:1px solid #4d90fe;
  outline:0 rgba(0,0,0,0)
}

input[type=submit]:active {
  -webkit-box-shadow:inset 0 1px 2px rgba(0,0,0,0.3);
  box-shadow:inset 0 1px 2px rgba(0,0,0,0.3);
}

input[type=text], textarea {
  border: 1px solid #D9D9D9;
  border-top: 1px solid silver;
  margin-right: 0.5em;
  padding: 0 1ex;
}

textarea { padding: 1ex; }

input[type=text]:hover, input[type=text]:focus, textarea:hover, textarea:focus {
  border: 1px solid #4D90FE;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: inset inset 0 1px 2px rgba(0, 0, 0, 0.3);
}

.smallCaps {
  font-size: 110%;
  font-variant: small-caps;
}

.doNotDisplay { display: none; }

.notify_errors,
.notify_notes,
.notify_success { padding: .8em; margin-bottom: 1em; border: 2px solid #ddd; }
 
.notify_errors { background: #FBE3E4; color: #8a1f11; border-color: #FBC2C4; }
.notify_notes { background: #FFF6BF; color: #514721; border-color: #FFD324; }
.notify_success { background: #E6EFC2; color: #264409; border-color: #C6D880; }
.notify_errors a { color: #8a1f11; }
.notify_notes a { color: #514721; }
.notify_success a { color: #264409; }


/* # Page/Handler specific # */
h1.dir-list-head, ul.dir-list {
  text-transform: none;
  font-weight: bold;
  list-style-type: none;
}

ul.dir-list li {
  display: inline;
  padding-right:1em;
}

ul.sitemap-list a {
  text-transform: none;
}

/* # Blagh specific (custom) # */
span.date {
  float: right;
  font-size: small;
  color: #333;
}

#feed {
  position: absolute;
  top: 8.7ex;
  right: 0.4em;
}

